@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  max-width: 1200px;
}


/*
 Header
*/

#Header {
  height: 36px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(130,130,130);
  background-color: #161B24;
}

#Header-label {
  margin: 2px 20px;
  color: white;
}

/*
Menu
*/

li {
  margin-bottom: 20px;
  margin-right: 50px;
  transition: 0.3s all; 
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

li:hover {
  font-weight: 600;
}

a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

a:visited{
  color: black;
}


#navigation-bar{
  list-style: none;
  text-align: left;
  height: 75%;
  top: 70px;
  position: fixed;
  text-align: right;
  width: 200px;
  color: black;
}

#signout-label:hover {
  cursor: pointer !important;
}

/*
Profile 
*/

.profile-information {
  margin-bottom: 15px;
}

.main-content{
  text-align: left;
  margin: 0 auto;
  left: 280px;
  top: 50px;
  width: 55%;
  margin-top: 50px;
  padding: 1em;
  border-radius: 3px;
}

#map {
  margin: 0 auto;
  width: 80%;
  border-radius: 5px;
  height: 60%;
  position: relative;
}

#searchTextField{
  margin-bottom: 15px;
  margin-left: 10%;
  height: 30px;
  width: 79%;
  border-radius: 5px;
  border: solid 1px rgb(225,225,225);
  padding-left: 15px;
  box-shadow: 0 2px 4px #d0d0d09e;
}

/*
package insert */

.package-insert-select{
  display: block;
  margin-top: 10px;
  border-radius: 2px;
  border-color: rgb(220,220,220);
  padding: 4px;
  box-shadow: 0 1px 3px #cacaca;
  border: none;
  border-bottom: solid 2px rgb(45, 151, 226);
}

#package-comment {
  width: 99%;
  height: 60px;
}

.p-border {
  border-radius: 2px;
  padding: 1em 0 ;
   /* box-shadow: 0 1px 5px #a5a5a5*/
}

/**
Range CSS
*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.55px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #8f8f8f, 0px 0px 1px #8f8f8f;
  background: rgb(45, 151, 226);
  border-radius: 25px;
  border: 0px solid rgba(0, 1, 1, 0.72);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.3px 0.3px 1.4px #323232, 0px 0px 0.3px #3f3f3f;
  border: 0.4px solid #8c8c8c;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #f9f8f7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(28, 96, 145, 0.842);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 0, 0, 0.72);
  border-radius: 25px;
  border: 0px solid rgba(0, 1, 1, 0.72);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 1.4px #323232, 0px 0px 0.3px #3f3f3f;
  border: 0.4px solid #8c8c8c;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #f9f8f7;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.72);
  border: 0px solid rgba(0, 1, 1, 0.72);
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.72);
  border: 0px solid rgba(0, 1, 1, 0.72);
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.3px 0.3px 1.4px #323232, 0px 0px 0.3px #3f3f3f;
  border: 0.4px solid #8c8c8c;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #f9f8f7;
  cursor: pointer;
  height: 4.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.72);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.72);
}

input[type=range]:active::-webkit-slider-thumb {
  background: rgb(180,180,180);
}

input[type=range]:active::-moz-range-thumbb {
  background: rgb(180,180,180);
}

/**
Button CSS 

*/

.buttons    {
  display: inline-block;
  padding: 0.6em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #606163;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s;
}

.buttons:hover{
  color:rgb(40,40,40);
  background-color:#FFFFFF;
  border: solid 1px rgb(132, 132, 132);
 }

 .buttons:focus {
  outline: 0;
}

.buttons:active {
  background-color: rgb(225,225,225);
  border-color: rgb(225,225,225); 
 
  color: rgb(40,40,40);
}


/**
Become driver page
*/

.listed-packages {
  border: solid 1px rgb(210,210,210);
  padding: 16px 16px;
  /* border-top: solid 1px rgb(140,140,140); */
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px #bbbbbb;
  transition: all 0.2s;
}

.listed-packages:hover {
  background-color: rgb(242,242,242);
}

.listed-packages:active {
  background-color: rgb(230,230,230);

}

.listed-packages-clicked {
  background-color: rgb(140,140,140);
  border: solid 1px rgb(170,170,170);
  color: white;
  padding: 16px 16px;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px #bbbbbb;
  transition: all 0.2s;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}