@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*
 Header
*/

#Header {
  height: 36px;
  padding-top: 5px;
  border-bottom: 1px solid rgb(130,130,130);
  background-color: #161B24;
}

#Header-label {
  margin: 2px 20px;
  color: white;
}

/*
Menu
*/

li {
  margin-bottom: 20px;
  margin-right: 16px;
  transition: 0.3s all; 
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

li:hover {
  font-weight: 600;
}

a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

a:visited{
  color: black;
}


#navigation-bar{
  list-style: none;
  text-align: left;
  border-right: solid 1.5px rgb(190,190,190);
  height: 75%;
  top: 70px;
  position: fixed;
  width: 200px;
  color: black;
}

#signout-label:hover {
  cursor: pointer !important;
}

/*
Profile 
*/

.profile-information {
  margin-bottom: 15px;
}

.main-content{
  text-align: left;
  margin: 0 auto;
  position: absolute;
  left: 280px;
  top: 50px;
  width: 50%;
  padding: 1em;
  border-radius: 3px;
}

#map {
  margin: 0 auto;
  width: 80%;
  border-radius: 5px;
  height: 60%;
  position: relative;
}

#searchTextField{
  margin-bottom: 15px;
  margin-left: 10%;
  height: 30px;
  width: 79%;
  border-radius: 5px;
  border: solid 1px rgb(225,225,225);
  padding-left: 15px;
  box-shadow: 0 2px 4px #d0d0d09e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
